*{
    font-family: 'Source Sans Pro', sans-serif; 
}

a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 32px;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;

    font-size: 18px;
    font-weight: normal;
}

li a:hover {
    background-color: lightgrey;
  }

li {
    float: left;
}

.hero-image {
    background-image: url(Cover\ Image.png);
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    padding: 40px;
    width:350px;
    font-family: Arial, Helvetica, sans-serif;

  }

  #title{
      font-size:56px;
      font-weight: normal;
  }

  #tagline{
    font-size: 36px;
    font-weight: normal;

  }

  .grid-container {

    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
  }

  .grid-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 40px;
    font-size: 30px;
    text-align: left;
    height:330px;
    
  }

  .section1{
      background-color: rgba(234,235,230,1);
  }

  .section2{
    background-color: rgba(248,248,244,1);
}

.section3{
    background-color: rgba(234,235,230,1);
}

div h2{
    font-size: 36px;
    font-weight:normal;
    }

div h4{
    font-size: 20px;
    font-weight:400;
    margin-bottom:10px;
    }

div h6{
    font-size: 20px;
    font-weight:lighter;
    margin-bottom:0px;
    margin-top:0px
    }


.productLink {
    position: absolute;
	bottom: 48px;
    display: table-cell;
    font-size: 12px;
    font-weight:normal;
}

.grid-item img{
    display: block;
    max-height:90%; 
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.productInfo {
    position: absolute;
	bottom: 48px;
}

.productImg{
    position: absolute;
    margin: auto;
    right:10px;
    left:10px;
    bottom:150px;
    max-width:250px;
    max-height: 250px;
}

.addButton{
    position: absolute;
    right:40px;
    bottom:50px;
    width:32px;
}

footer {
    padding-left:40px;
    padding-top:0px;
    padding-bottom:50px;

    background-color: rgb(255, 253, 253);
}

footer P{
    position: absolute;
    display:inline;
}

.location{
    right: 60px;

}

/* about */

.about-image {
    background-image: url(aboutCover.png);
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .aboutInfo{
      padding-top: 40px;
      padding-left:40px;
      padding-bottom:100px;
  }

  .aboutInfo h4{

    padding-top: 50px;
    width: 30%;
    line-height: 36px;

  }

  .about1 {
      position: absolute;
      right:0px;
      width: 55%;
  }

  body{
    background-color:rgba(248,248,244,1); 
  }



  .quote h1{
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    width:40%;
    padding-top:80px;
    margin:auto;
  }

  .quote{
      padding-bottom: 40px;
  }

  .quote img{
    padding-top: 35px;
    padding-bottom: 40px;
    max-width:10%;
    position: absolute;
    left: 50%

  }

  .sherry h2 {
      display: inline;
      font-size: 24px;
      font-weight: lighter;
      position: absolute;
      left: 62%;
  }

  .about2{
      padding-top: 100px;
      padding-left:40px;
      
  }

  .transtion{
      height: 400px;
  }

  
  .producthead {
      display:inline-flex;
      padding-left:40px;
      
  }

  #title1{
    font-size:56px;
    font-weight: normal;
    align-self: flex-end;
    margin-bottom: 0px;
}

  #productmain{
      font-size: 24px;
      font-weight: normal;
      align-self: flex-end;
      margin:10px;
      margin-right:0px;
      margin-left:40px;
      padding-right:0px;
  }

  #productsub{
    font-size: 24px;
    font-weight: lighter;
    color: grey;
    align-self: flex-end;
    margin:10px;
}

#sort{
    align-self: flex-end;
    padding-bottom:15px;
    position: absolute;
    right:40px;
}

.grid-container1{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;


}

div h5{
    font-size: 12px;
    font-weight:normal;
    margin-bottom:0px;
    margin-top:0px;
    width:70%;
    padding-bottom:10px;
    }

.grid-item1 img{
    display: block;
    max-height:90%; 
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.grid-item1 {
    position: relative;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 40px;
    font-size: 30px;
    text-align: left;
    height:400px;
    
    }

.productImg1{
    position: absolute;
    margin: auto;
    right:10px;
    left:10px;
    bottom:200px;
    max-width:250px;
    max-height: 250px;
}

.fullproduct{
    display: grid;
    grid-template-columns: 15% 50% 35%;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
}

.product-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0px;
    font-size: 30px;
    text-align: left;
    height:550px;
    }

.product-item img{
    display: block;
    width:90%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
    padding:10px;
}

.info h2{
    margin:0px;
    margin-bottom:10px;
}

.info h3{
    margin:0px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:10px;
}

.info h4{

    margin-bottom:40px;
}

.color{
    float:left;
    background-color: black;
    width:32px;
    height: 32px;
    border-radius: 50%;
   
    margin:5px;
    margin-right:20px;
    margin-bottom:30px;
    padding:5px;

}

.clear{
    clear: both;
}

select{
    margin-bottom:20px;
    width:100%;
    height:36px;
    font-size: 20px;
    background-color: white;
}

#addbox{
    text-align: center;
    position: relative; 
    bottom:0px;
    background-color: rgb(75, 75, 75);
    height: 48px;
    width:100%;
}

#addbox h3{
    padding-top:12px;
    color: white;
    font-weight: 100;
}

.c1{
    background-color: white;
}

.c2{
    background-color:rgb(235, 235, 213);
}

.c3{
    background-color: rgb(214, 200,187);
}

.c4{
    background-color: bisque;
}

#more{
    font-weight: 400;
    padding-left:40px;
    margin-bottom:0px;

}
 




  